# :bug: 버그해소
# :+1: 기능개선
# :sparkles: 부분적인 기능추가
# :tada: 대량 기능추가
# :art: 디자인 변경
# :wrench: 기능 수정
# :pencil: 코멘트 수정
# :truck: 파일 이동
# :recycle: 리펙터
# :shower: 불필요한 기능/파일삭제
# :rocket: 퍼포먼스 개선
# :up: 의존 패키지 업데이트
# :cop: 세큐리티 관련 개선, warning해소
